<h1>Products</h1>

<% @products['result'].each do |product| %>
  <section>
    <ul>
      <li><%= link_to product['name'], product_path(product['id']) %>
      <%= format_price(product['price_in_cents']) %>
      <%= product['primary_category'] %></li>
    </ul>
  </section>
<% end %>